client/Connected Services/MarketDataContributorConnection/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MarketDataContributorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MarketDataContributorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReturnStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnStatus" nillable="true" type="tns:ReturnStatus" />
  <xs:complexType name="FxQuote">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ask" type="xs:double" />
          <xs:element minOccurs="0" name="Bid" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FxQuote" nillable="true" type="tns:FxQuote" />
  <xs:complexType name="IData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IData" nillable="true" type="tns:IData" />
</xs:schema>