client/Connected Services/MarketDataContributorConnection/MarketDataContributor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MarketDataContributor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MarketDataContributorService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarketDataContributor_AddFxQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFxQuote" />
  </wsdl:message>
  <wsdl:message name="IMarketDataContributor_AddFxQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFxQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketDataContributor_GetFxQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFxQuote" />
  </wsdl:message>
  <wsdl:message name="IMarketDataContributor_GetFxQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFxQuoteResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarketDataContributor">
    <wsdl:operation name="AddFxQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataContributor/AddFxQuote" message="tns:IMarketDataContributor_AddFxQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataContributor/AddFxQuoteResponse" message="tns:IMarketDataContributor_AddFxQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFxQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketDataContributor/GetFxQuote" message="tns:IMarketDataContributor_GetFxQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketDataContributor/GetFxQuoteResponse" message="tns:IMarketDataContributor_GetFxQuote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMarketDataContributor" type="tns:IMarketDataContributor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFxQuote">
      <soap:operation soapAction="http://tempuri.org/IMarketDataContributor/AddFxQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFxQuote">
      <soap:operation soapAction="http://tempuri.org/IMarketDataContributor/GetFxQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MarketDataContributor">
    <wsdl:port name="BasicHttpBinding_IMarketDataContributor" binding="tns:BasicHttpBinding_IMarketDataContributor">
      <soap:address location="http://localhost:8000/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>